h1{
   background-color: springgreen;
   padding: 2%;
   font-size: 40pt;
   text-shadow: 2px 2px darkgreen;

}
#container{
text-align: center;

}
#container{
width: 100%;
text-align: center;
height: 1000px;

}
.searchArea{
    float: left;
    margin-left: 50px;
    padding-right: 30px;
}

#lastResults{
    position: relative;
    float: left;
    top: 100px;
    right:275px;
    /* width: 200px; */
}

#currentCity{
position: relative; 
/* float: left; */
/* left: 5%; */
margin-top: 40px;
margin-bottom: 20px;
width: 60%; 
margin-left: 35px;
/* margin-left: 40px;  */

}


.forecast{
    position: relative;
    right:25%;
    padding-bottom: 20px;
}

.forecastContainer{
    display: block;
    margin-left: 20%;
    
}

#forecastCard{

   float: left;
   margin-right: 25px;
}
 
#forecastCard2 {
   float: left;
   margin-right: 25px;
}

#forecastCard3 {
   float: left;
   margin-right: 25px;
}

#forecastCard4{
   float: left;
   margin-right: 25px;
}

#forecastCard5{
   float: left;
}





/* table {
    margin-top: 1em;
    table-layout: fixed;
} */

 
 




