h1{
   background-color: springgreen;
   padding: 2%;
   font-size: 40pt;
   text-shadow: 2px 2px darkgreen;

}
#container{
text-align: center;

}
#container{
width: 100%;
text-align: center;
height: 900px;

}
.searchArea{
    float: left;
    margin-left: 50px;
}

#lastResults{
    position: relative;
    float: left;
    top: 100px;
    right:250px;
    width: 200px;
}

#currentCity{
position: relative;
/* padding-bottom: 150px; */
right: 80px;
margin-top: 40px;
margin-bottom: 20px;
}


.forecast{
    position: relative;
    right:25%;
    padding-bottom: 20px;
}

.forecastContainer{
    display: block;
    margin-left: 20%;
    
}

#forecastCard{

   float: left;
   margin-right: 25px;
}
 
#forecastCard2 {
   float: left;
   margin-right: 25px;
}

#forecastCard3 {
   float: left;
   margin-right: 25px;
}

#forecastCard4{
   float: left;
   margin-right: 25px;
}

#forecastCard5{
   float: left;
}


 
 




